.textalign-center{
    text-align: center;
}

.bgCl{
    background-color: lightgrey;
}

.todoColumn{
    column-count: 3;
    column-gap: 20px;
    column-width: auto;
}

.border{
    border: 5px solid green;
}

.ht-wd{
    height: 500px;
    overflow: hidden;
    width: auto;

}

.padding{
    padding-left: 5px;
    padding-right: 5px;
}

.pd-ol-left{
    padding-left: 20px;
}

.getcentered{
    margin: auto;
    width: 50%;
    padding: 10px;
    max-height: max-content;
}

.mg-top{
    margin-top: 40px;
    margin-left: auto;
}

.mg-center{
    width: 100%;
}

.btn{
    border: none;
    border-radius: 10px;
    background-color: inherit;
    padding: 5% 10%;
    cursor: pointer;
}

.green{
    color: green;
    font-size: 20px;
    font-weight: bolder;
}

.btn:hover{
    background-color: lightgrey;
}

#textarea{
    max-width: 100%;
}

.container{
    margin-top: 0%;
    position: relative;
}

.center{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.mg-auto{
    margin: auto;
    border: 20px solid orange;
    border-radius: 10px;
}